*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rm;
    font-family: sans-serif;
}

:root{
    --cinza: #ebebce;
    --preto: #272727;
    --rosa: #f86198;
    --verde: #36B59F;
}

body{
    background: var(--cinza);
    height: 100vh;
    width: 1000px;
}

#root{
    width: 500px;
    height: fit-content;
    margin: 20px auto ;
}